/* Estilize a modal com tema futurístico */
body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #111; /* Fundo escuro */
  margin: 0;
}

.button {
  display: block;
  padding: 12px;
  background-color: #00ccff; /* Azul-ciano */
  color: #fff; /* Texto em branco */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #00b3e6; /* Azul-ciano um pouco mais escuro em hover */
}

.modal {
  background-color: #1a1a1a; /* Cor de fundo - Cinza escuro */
  color: #fff; /* Texto em branco */
  border: 2px solid #00ccff; /* Cor da borda - Azul-ciano */
  border-radius: 15px; /* Borda arredondada */
  box-shadow: 0 0 20px rgba(0, 204, 255, 0.5); /* Sombra - Azul-ciano com transparência */
  display: none; /* Modal inicialmente oculto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Z-index alto para ficar acima de outros elementos */
  padding: 20px;
  width: 400px;
}

.close {
  color: #00ccff; /* Azul-ciano */
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #00b3e6; /* Azul-ciano um pouco mais escuro em hover */
}

.modal-content {
  text-align: center;
}

h2.modal-title {
  color: #00ccff; /* Azul-ciano */
}

.input-field textarea {
  border: 1px solid #00ccff; /* Azul-ciano */
  background-color: rgba(0, 204, 255, 0.2); /* Fundo azul-ciano com transparência */
  color: #fff; /* Texto em branco */
  padding: 10px;
  border-radius: 5px;
  resize: vertical; /* Permite a expansão vertical */
  min-height: 100px; /* Altura mínima */
}

#submitButton {
  background-color: #00ccff; /* Azul-ciano */
  color: #fff; /* Texto em branco */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#submitButton:hover {
  background-color: #00b3e6; /* Azul-ciano um pouco mais escuro em hover */
}
