/* Reseta a margem e o padding padrão dos elementos da lista */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  background-image: url("./styles/css/img/bd.png");

}


.loaderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;

}
.loader {
  
  
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-icon {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  background-color: #3333337a;
  margin: 0;
  padding: 10px;
}

nav li {
  margin: 0;
  padding: 0;
  margin-top: 15px;
}


nav a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  position: relative;
  transition: color 0.3s;
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff00ff;
  bottom: 10px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
  transform: scaleX(1);
}

nav a.active::after {
  transform: scaleX(1);
}

nav a.active:hover::after {
  transform: scaleX(1);
}

.cardUser {
  display: flex;
  align-items: center; /* Centraliza verticalmente os itens dentro do container */
  padding-top: 30px;
  justify-content: center;
  
  
  
}

nav img {
  width: 75px; /* A imagem ocupa toda a largura da div */
  height: auto; /* A altura é ajustada proporcionalmente */
  border-radius: 50%; /* Bordas arredondadas para a imagem */
  
}

.date,
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e61bc4d0;
  border: none;
  border-radius: 5px 0 0 5px;

  width: 100px;
  height: 100px;
  transition: background-color 0.3s ease; /* Efeito de transição na cor de fundo */
  
  
}

.date {
  border-right: none;
  border-radius: 0 5px 5px 0;
}

.user img {
  width: 80%; /* A imagem ocupa toda a largura da div */
  height: auto; /* A altura é ajustada proporcionalmente */
  border-radius: 50%; /* Bordas arredondadas para a imagem */
  cursor: pointer;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1bb3e6ab;
  border: none;
  width: 500px;
  height: 100px;
  transition: background-color 0.3s ease; /* Efeito de transição na cor de fundo */
  overflow: hidden; /* Impede que o texto ultrapasse a div "date" */
  white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
  text-overflow: ellipsis; /* Adiciona "..." ao final do texto truncado */
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}

.message p {
  margin: 0; /* Remove margem padrão do parágrafo */
}

.idUSER {
  display: none;
}


.plus-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00ccff; /* Cor azul-ciano */
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.4); /* Sombra azul-ciano com transparência */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Efeitos de transição */
  font-size: 64px;
}

.message:hover{
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  
}


.plus-icon:hover {
  background-color: #ff00ff; /* Azul-ciano um pouco mais escuro em hover */
  box-shadow: 0 0 15px #8f028f; /* Sombra azul-ciano mais intensa em hover */
}


#containePlus{
  padding-left: 20%;
  padding-top: 5%;
}
  
  
footer {
  position: fixed;
  bottom: 0;
  left: 0; /* Alinhar à esquerda */
  right: 0; /* Alinhar à direita */
  text-align: center; /* Centralizar o texto */
  color: #fff; /* Cor do texto */
  padding: 20px 0; /* Espaçamento interno */
  text-align: center; /* Centralizar o texto */
}



/* Estilizar links dentro do footer */
footer a {
  color: #fff; /* Cor dos links */
  text-decoration: none; /* Remover sublinhado */
}

/* Estilizar links em hover */
footer a:hover {
  text-decoration: underline; /* Sublinhar em hover */
}


/* Estilo do menu em telas menores (responsivo) */
@media (max-width: 768px) {
    li {
        display: block;
        margin-bottom: 10px;
    }

    a {
        padding: 10px 20px;
    }
}
