/* Reseta a margem e o padding padrão dos elementos da lista */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Exibe os itens da lista como blocos lado a lado */
li {
    display: inline-block;
    margin-left: 20px; /* Espaçamento entre os itens do menu */
}

/* Estilo dos links no menu */
a {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff; /* Cor do texto do link */
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.3s ease;
}

/* Estilo dos links quando estão em hover (mouse por cima) */
a:hover {
    background-color: #00BFFF; /* Azul Ciano */
}

/* Estilo do menu de navegação */
nav {
    background-color: #C0C0C0; /* Prata ou Cinza Metálico */
    text-align: center;
    padding: 40px 0;
}




.cardUser {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens dentro do container */
    padding-top: 40px;
    justify-content: center;
}




.date,
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00BFFF;
    border: none;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #ffffff;
    width: 100px;
    height: 100px;
    
  }

  .message{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00BFFF;
    border: none;
    border-right: 1px solid #ffffff;
    width: 500px;
    height: 100px;
  }

  .message p{
    overflow: hidden; /* Impede que o texto ultrapasse a div "date" */
    white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
    text-overflow: ellipsis; /* Adiciona "..." ao final do texto truncado */
  }

  .date{
    border-right: none;
    border-radius: 0 5px 5px 0;
  }


  .user img {
    width: 80%; /* A imagem ocupa toda a largura da div */
    height: auto; /* A altura é ajustada proporcionalmente */
  }


/* Estilo do menu em telas menores (responsivo) */
@media (max-width: 768px) {
    li {
        display: block;
        margin-bottom: 10px;
    }

    a {
        padding: 10px 20px;
    }
}
